<!-- public/views/chat.html -->
<link rel="stylesheet" href="../css/chat.css"/>

<!-- Main Panel -->
<div ng-hide="chat" class="container" ng-class="{'main-panel': chats.length > 0}">
    <div ng-show="redir">
        <!-- User just logged back in -->
        <div class="header">
            <h1>Welcome Back</h1>
            <h2 ng-show="user.fullname">{{user.fullname}}</h2>
            <h2 ng-hide="user.fullname">{{user.username}}</h2>
            <hr />
            
            <!-- If your profile has not been set up yet -->
            <div ng-hide="setup" class="text-center">
                <p class="lead" style="margin-bottom: 0;">
                    Your profile is not set up!
                </p>
                <button class="btn btn-info btn-space" ng-click="SetUp()">Edit Profile</button>
                <hr />
            </div>
            
            <!-- If there are any updates... -->
            <div ng-show="notifications" style="padding: 0; margin: 0;">
                <h3 class="text-center" style="padding: 0; margin: 0; margin-bottom: 10px;"><strong>Notifications</strong></h3>
                <div ng-repeat="n in notifications" style="margin-top: 5px; font-size: 18px;">
                    <span ng-hide="notificationLoading">
                        <p ng-hide="notifications" style="font-size: 18px;">You have no pending notifications</p>
                        <span ng-show="notifications">
                            <p ng-repeat="n in notifications" style="font-size: 18px; padding: 10px; margin: 0; border-top: solid 1px rgba(0,0,0,0.4); border-bottom: solid 1px rgba(0,0,0,0.4);">
                                <span ng-show="n.type == 'friend'">
                                    <b ng-show="n.user.fullname">{{n.user.fullname}}&nbsp;({{n.user.username}})</b>
                                    <b ng-hide="n.user.fullname">{{n.user.username}}</b>
                                    &nbsp;would like to add you as a friend.
                                    <br />
                                    <a class="btn btn-info btn-sm" href="/profile?user={{n.user.username}}" onclick="$('#notificationModal').modal('hide')">View</a>
                                </span>
                                <span ng-show="n.message">
                                    {{n.message}}
                                </span>
                            </p>
                        </span>
                    </span>
                    <div class="text-center" ng-show="notificationLoading">
                        <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
                    </div>
                </div>
                <br />
            </div>
            
            <!-- Dismiss the menu -->
            <div class="text-center">
                <button class="btn btn-primary" title="Dismiss" ng-click="redir = false">Dismiss</button>
            </div>
        </div>
    </div>
    
    
    <!-- CHATS -->
    <!-- Error getting chats -->
    <div ng-show="chaterror" class="text-center error-box">
        <h3>Error</h3>
        <p>{{chaterror}}</p>
    </div>
    <!-- No chats to display -->
    <div ng-hide="chaterror || redir || chat" class="text-center"> 
        <h1 ng-show="chats.length == 0">No chats turned up</h1>
        <!-- Give user a place to create a chat -->
        <div class="firstchat">
            <h3>Let's create a chat!</h3>
            <span ng-show="friendsloading" ng-hide="newchaterror">
                <h1>Who do you want to chat to?</h1>
                <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
            </span>
            <span ng-hide="friendsloading || newchaterror">
                <div ng-if="friends.length == 0 || !friends">
                    <p>No friends to create a chat with.<br/>Search for friends above!</p>
                </div>
                <div ng-if="friends && friends.length > 0">
                    <h1>First things first.<br /> Who do you want to chat to?</h1>
                    <div ng-show="friends.length > 3" class="friendpicker-info">
                        <span class="glyphicon glyphicon-chevron-left"/>
                        <p style="display: inline; font-size: 16px;">Scroll left and right to look through your friends</p>
                        <span class="glyphicon glyphicon-chevron-right"/>
                    </div>
                    <div class="friendpicker">
                        <div class="friendholder">
                            <span ng-repeat="f in friends">
                                <div class="friendinfo" ng-class="{'friendinfo-selected': f.selected}" title="{{f.fullname || f.username}}" ng-click="selectFriend(f)">
                                    <span class="friendbubble noselect" style="background-color: {{f.color}}  !important;">
                                        {{f.letter}}
                                    </span>
                                    <span class="frienddata">
                                        <span ng-show="f.fullname">{{f.fullname}}</span>
                                        <span ng-hide="f.fullname">{{f.username}}</span>
                                    </span>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="selectCount" ng-class="{'selectCount-flash': flash}">{{selected}}/{{maxselected}} friends selected</div>
                    <div>
                        <h1>What is this chat about?</h1>
                        <input type="text" class="chat-subject-input form-control" ng-model="newchat.subject" maxlength="100" placeholder="Enter a chat subject" ng-enter="createChat()" />
                    </div>
                    <div>
                        <h1>Ready when you are!</h1>
                        <input type="button" class="chat-create-button btn btn-info btn-sm" value="Create" ng-click="createChat()" />
                    </div>
                </div>
            </span>
            <span ng-show="newchaterror">
                {{newchaterror}}
            </span>
        </div>
    </div>
</div>

<!-- Selected chat screen -->
<div ng-show="chat" class="chat">
    <!-- Chat Header -->
    <div class="chat-header">
        <div class="chat-header-buttons">
            <div class="chat-controls">
                <div title="Add User" data-toggle="modal" data-target="#addUserModal" class="chat-header-icon glyphicon glyphicon-plus" />
                <div title="Chat Settings" ng-click="chatSettings(chat)" class="disabled chat-header-icon glyphicon glyphicon-wrench" />
                <div title="Hide Chat" ng-click="chatClick(chat)" class="chat-header-icon glyphicon glyphicon-eye-close" />
                <div title="Leave Chat" data-toggle="modal" ng-click="deleteChat(chat)" data-target="#deleteChatModal" class="chat-header-icon glyphicon glyphicon-remove" />
            </div>
        </div>
        <h1 class="lead text-center">
            <b class="chat-subject">{{chat.name}}</b>
        </h1>
    </div>
    <div id="chatwindow" class="chat-content">
        <span ng-repeat="m in chat.messages">
            <div ng-hide="m.statusMessage" class="message" ng-class="{'message-sent': m.sender.id == user.id, 'message-received': m.sender.id != user.id}">
                <span ng-bind-html="m.content | linky:'_blank'"></span>
                <hr />
                <div class="message-details" ng-class="{'message-details-sent': m.sender.id == user.id, 'message-details-received': m.sender.id != user.id}">
                    <span ng-show="m.sender.id != user.id">
                        <a class="chatter-name" ng-click="viewUser(m.sender)" title="{{m.sender.username}}"><b>{{m.sender.fullname || m.sender.username}}</b></a> - </span>
                    {{m.date | formatDateTime}}
                </div>
            </div>
            <div ng-show="m.statusMessage && !m.sender.loading" class="message-status">
                {{m.sender.fullname || m.sender.username}}&nbsp;{{m.content}}
                <p class="message-status-date">{{m.date | formatDateTime}}</p>
            </div>
            <div ng-show="m.statusMessage && m.sender.loading" class="message-status">
                <br /><br />
            </div>
        </span>
    </div>
    <div class="chat-input">
        <input id="chatinput" type="text" class="form-control" placeholder="Type your message here" maxlength="300" ng-model="newmessage.content" ng-trim="false" ng-enter="sendMessage()">
            <span style="position: absolute; right: 100px; margin: 5px; font-size: 16px; color: darkgray;">{{newmessage.content.length || 0}}/300</span>
        </input>
        <div class="chat-input-send">
            <button ng-click="sendMessage()">
                <span class="glyphicon glyphicon-send"/><br />Send
            </button>
        </div>
    </div>
</div>

<!-- Show chat bar -->
<div ng-show="chats" class="container text-center chat-list">
    <div class="chat-list-title">
        Recent Chats
    </div>
    <div class="chat-list-chats">
        <div ng-repeat="c in chats" class="chat-list-chat" ng-click="chatClick(c)" ng-class="{'chat-list-chat-selected': c.selected}" title="{{c.name}}">
            <!-- Subject at top -->
            <div class="chat-list-subject">{{c.name}}</div>
            <!-- Users -->
            <div class="chat-list-chat-users" >
                <span ng-repeat="f in c.users">
                    <span ng-hide="f.loading">
                        <div class="chat-list-chat-user" ng-class="{'hide-div': f.id == user.id}" title="{{f.fullname || f.username}}" ng-click="viewUser(f)" style="background-color: {{f.color}} !important;">
                            {{f.letter}}
                        </div>
                    </span>
                    <div ng-show="f.loading" class="chat-list-chat-user-loading" title="Loading Friend">
                        <img src="img/Loading.gif" style="width: 30px; height: 30px; background-color: rgba(0,0,0,0.2); border-radius:15px; " />
                    </div>
                </span>
                <span ng-show="c.users.length == 1">
                    <div class="chat-list-chat-user" style="background-color: {{f.color}} !important; font-size: 12px; padding-top: 5px">
                        You
                    </div>
                </span>
            </div>
            <!-- Updates -->
            <div ng-show="c.newmessage" class="chat-list-update">! New message !</div>
        </div>
    </div>
</div>

<!-- MODALS -->

<!-- Add user to chat -->
<div id="addUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 22px;" class="modal-title">Add Users</h4>
            </div>
            <div class="modal-body">
                <p>Choose the users to add to <b>{{chat.name}}</b></p>
                <!-- User list of valid users to add -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info" ng-click="addUsers()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Leave chat -->
<div id="deleteChatModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 22px;" class="modal-title">Leave Chat - Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p style="font-size: 18px;">If you are the only chatter, this will permanently delete the chat. If there are others still in the chat, you will be removed from it.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="confirmDeleteChat()" data-dismiss="modal">Leave</button>
            </div>
        </div>
    </div>
</div>

<!-- Res tags -->
<audio id="snd_newmessage" src="../snd/message/new.mp3" />