<!-- public/views/friend.html -->
<link rel="stylesheet" href="../css/friend.css"/>

<div class="container text-center">
    <span ng-hide="isloading">
        <div ng-if="friends.length == 0 || !friends">
            <h1>Your Friends (0 Total)</h1>
            <br />
            <h3>We've come up empty. Search for friends above!</h3>
        </div>
        <div ng-if="friends.length > 0">
            <h1>Your Friends ({{friends.length}} Total)</h1>
            <br />
        </div>
    </span>
    <span ng-repeat="f in friends">
        <div class="friend" style="background-color: {{f.color}}" ng-hide="f.error">
            <a href="/profile?user={{f.username}}">
                <span ng-show="f.fullname">
                    {{f.fullname}}
                    <br />
                    (
                </span>
                {{f.username}}
                <span ng-show="f.fullname">)</span>
            </a>
        </div>
    </span>
</div>

<div ng-show="isloading" class="text-center">
    <h1>Your Friends</h1>
    <br />
    <h3>Loading Your Friends</h3>
    <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
</div>