<!-- public/views/home.html -->
<link rel="stylesheet" href="../css/home.css"/>

<div class="container" style="margin-top: 100px; min-width: 350px;">
    <div class="jumbotron text-center">
        <h1>Chat Now Home</h1>
        <br />
        <div class="globalStats">
            <strong style="font-size: 22px;">GLOBAL STATS</strong>
            <br />
            <br />
            <p class="lead">
                <em>Users Registered: </em>{{totalUsers}}
                <br />
                <em>Chats Active: </em>{{totalChats}}
                <br />
                <em>Total Messages: </em>{{totalMessages}}
            </p>
            <br />
            Updated: {{updated}}
            <br />
            <b>Chat Now&nbsp;</b>{{version}}
        </div>
        <h3>What are you waiting for?</h3>
        <a ng-hide="loggedIn" class="btn btn-info" href="login">Login / Register</a>
        <a ng-show="loggedIn" class="btn btn-info" href="chats">Start Chatting</a>
    </div>
</div>