<!-- public/views/login.html -->

<div class="container" style="margin-top: 100px">
    <div ng-hide="registering" class="well well-sm">
        <h1 class="text-center">Log In to <strong>Chat Now</strong></h1>
        <div style="width: 60%; min-width: 350px; margin: 0 auto;">
            <form ng-hide="loginloading">
                <label for="username">Username/Email:</label>
                <input class="form-control" type="text" id="username" placeholder="Username/Email" maxlength="60" ng-model="credentials.username">
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" placeholder="Password" maxlength="40" ng-model="credentials.password">
                <br />
                <div ng-show="loginerror" class="alert alert-danger text-center" style="width: 100%; margin: 0 auto;">
                    {{loginerror}}
                </div>
                <br />
                <button class="btn btn-info" type="submit" ng-click="login(credentials)">Login</button>
                <button ng-hide="registering" class="btn btn-primary" type="button" ng-click="toggleRegister()">Register</button>
                <!--
                    <button class="btn btn-default" type="button" ng-click="forgot()" style="float: right;">Forgot Password</button>
                -->
            </form>
            <div ng-show="loginloading" class="text-center">
                <hr style="width: 300px; border-color: black;" />
                <p style="font-size: 140%;">{{credentials.username}}</p>
                <hr style="width: 300px; border-color: black;" />
                <h3>Logging In...</h3>
                <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
            </div>
        </div>
    </div>
    <div ng-show="registering" class="well well-sm">
        <h1 class="text-center">Register a New Account</h1>
        <div style="width: 60%; min-width: 350px; margin: 0 auto;">
            <form ng-hide="registerloading">
                <label for="register-username">Username:</label>
                <input class="form-control" type="text" id="register-username" placeholder="Username" maxlength="20" ng-model="account.username">
                <label for="register-email">Email:</label>
                <input class="form-control" type="text" id="register-email" placeholder="Email" maxlength="40" ng-model="account.email">
                <label for="register-password">Password:</label>
                <input class="form-control" type="password" id="register-password" placeholder="Password" maxlength="40" ng-model="account.password">
                <label for="register-password2">Confirm Password:</label>
                <input class="form-control" type="password" id="register-password2" placeholder="Confirm Password" maxlength="40" ng-model="account.password2">
                <br />
                <div ng-show="registererror" class="alert alert-danger text-center" style="width: 100%; margin: 0 auto;">
                    {{registererror}}
                </div>
                <br />
                <button class="btn btn-info" type="submit" ng-click="register(account)">Start Chatting</button>
                <button class="btn btn-default" type="button" ng-click="toggleRegister()">Cancel</button>
            </form>
            <div ng-show="registerloading" class="text-center">
                <hr style="width: 300px; border-color: black;" />
                <table style="width: 80%; margin: 0 auto; font-size: 120%;">
                    <tr>
                        <th style="text-align: right;">Username:</th>
                        <td style="text-align: left;">&nbsp;&nbsp;{{account.username}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right">Email:</th>
                        <td style="text-align: left;">&nbsp;&nbsp;{{account.email}}</td>
                    </tr>
                    <tr>
                        <th style="text-align: right">Password:</th>
                        <td style="text-align: left">&nbsp;&nbsp;{{passdisplay}}</td>
                    </tr>
                </table>
                <hr style="width: 300px; border-color: black;" />
                <h3>{{registerstatus}}</h3>
                <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
            </div>
        </div>
    </div>
</div>