<!-- public/views/nav.html -->

<nav class="navbar navbar-default">
    <!-- LINK TO PAGES - ANGULAR HANDLES ROUTING -->
    <ul class="nav navbar-nav"  style="padding-left: 15px; float: left">
        <li><a href="/" title="Home" style="font-weight: bolder; font-size: 28px;">Chat Now</a></li>
        <li ng-show="loggedIn"><a href="/chats" title="View Chats">Chats</a></li>
        <li ng-show="loggedIn"><a href="/friends" title="View Friends">Friends</a></li>
        <li ng-show="loggedIn" style="position: relative; left: 12px; padding: 0; margin: 0;">
            <form id="searchform" ng-submit="search(searchparam)" onsubmit="reset()" style="width: 300px;">
                <input type="text" class="form-control" maxlength="40" style="margin-top: 7px; width: 300px;" placeholder="Search People" ng-model="searchparam" />
            </form>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" style="padding-left: 15px; float: right; padding-right: 15px;">
        <li ng-hide="loggedIn"><a href="/login" title="Login">Login</a></li>
        <li ng-show="loggedIn">
            <a class="glyphicon glyphicon-bell" ng-style="notifications && {'color':'red'}" style="cursor: pointer;" data-toggle="modal" data-target="#notificationModal" ng-click="loadNotifications()" title="Notifications"></a>
        </li>
        <li ng-show="loggedIn"><a href="/profile" title="View Profile"><strong>{{username()}}</strong></a></li>
        <li ng-show="loggedIn"><a href="/" ng-click="logout()" title="Logout">Logout</a></li>
    </ul>
</nav>

<div id="notificationModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 22px;" class="modal-title">Notifications</h4>
            </div>
            <div class="modal-body">
                <span ng-hide="notificationLoading">
                    <p ng-hide="notifications" style="font-size: 18px;">You have no pending notifications</p>
                    <span ng-show="notifications">
                        <p ng-repeat="n in notifications" style="font-size: 18px; padding: 10px; margin: 0; border-top: solid 1px rgba(0,0,0,0.4); border-bottom: solid 1px rgba(0,0,0,0.4);">
                            <span ng-show="n.type == 'friend'">
                                <b ng-show="n.user.fullname">{{n.user.fullname}}&nbsp;({{n.user.username}})</b>
                                <b ng-hide="n.user.fullname">{{n.user.username}}</b>
                                &nbsp;would like to add you as a friend.
                                <br />
                                <a class="btn btn-info btn-sm" href="/profile?user={{n.user.username}}" onclick="$('#notificationModal').modal('hide')">View</a>
                            </span>
                            <span ng-show="n.message">
                                {{n.message}}
                            </span>
                        </p>
                    </span>
                </span>
                <div class="text-center" ng-show="notificationLoading">
                    <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>