<!-- public/views/profile.html -->
<link rel="stylesheet" href="../css/profile.css"/>

<!--If user does not exist.. -->
<div ng-hide="exists">
    <div class="header">
        <h3>{{error}}</h3>
    </div>
</div>

<!--User does exist-->
<div ng-show="exists">
    <!--Header first-->
    <div class="header" ng-style="style">
        <div ng-show="fullname">
            <h1 class="off-white">
                {{fullname}}
                <br/>
                <span style="font-size: 60%">({{username}})</span>
                <br />
                <span style="font-size: 50%">Joined: {{joined | formatDateTime}}</span>
            </h1>
        </div>
        <div ng-hide="fullname">
            <h1>
                {{username}}
                <br />
                <span style="font-size: 50%"><strong>Joined:</strong> {{joined | formatDateTime}}</span>
            </h1>
        </div>
    </div>
    
    <div class="blockContainer">
        <!--Edit controls-->
        <div class="settings" ng-show="iscurrentuser">
            <p>Manage profile</p>
            <ul>
                <li><a class="off-white" title="Edit Profile" ng-click="Edit()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</a></li>
                <li><a class="off-white" title="Account Settings" ng-click="Settings()"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a></li>
            </ul>
        </div>
        
        <!-- Friend Info -->
        <div class="friendship" ng-hide="iscurrentuser">
            <span ng-hide="frienderror || friendloading">
                <div ng-show="friends">
                    <p>Friendship</p>
                    <span class="friends-small">You are friends</span>
                    <br />
                    <b>Chats:&nbsp;</b>
                    <span ng-show="friendchats == -2">Error</span>
                    <span ng-show="friendchats == -1"><img src="img/Loading.gif" style="width: 30px; height: 30px; background-color: rgba(0,0,0,0.2); border-radius: 15px;" /></span>
                    <span ng-hide="friendchats < 0">{{friendchats}}</span>
                    <hr style="border-color: rgba(0,0,0,0.2); margin: 5px;" />
                    <a class="btn btn-info btn-xs" ng-click="CreateChat()" style="cursor: not-allowed !important; opacity: 0.6;">New Chat</a>
                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteFriendModal">Remove Friend</a>
                </div>
                <div ng-hide="friends">
                    <p>Friendship</p>
                    <hr style="border-color: rgba(0,0,0,0.2); margin: 2px;" />
                    <span ng-hide="requestee || requested || requesterror">
                        <span class="friends-small">You two are strangers</span>
                        <br />
                        <a class="btn btn-info btn-sm" ng-click="Friend()">Send Friend Request</a>
                    </span>
                    <div ng-show="requestee || requested || requesterror" style="padding: 5px;">
                        <span ng-hide="requestee">
                            <span ng-show="requested">
                                <span class="friends-small">Friend Request Sent</span>
                                <a class="btn btn-danger btn-sm" ng-click="CancelRequest()">Cancel Request</a>
                            </span>
                        </span>
                        <span ng-show="requestee">
                            <span class="friends-small">This user sent you a friend request</span>
                            <a class="btn btn-info btn-sm" ng-click="AcceptRequest()">Accept</a>
                            <a class="btn btn-danger btn-sm" ng-click="DeleteRequest()">Delete</a>
                        </span>
                        <span ng-show="requesterror">
                            <b>Error</b>
                            <br />
                            {{requesterror}}
                        </span>
                    </div>
                </div>
            </span>
            <div ng-show="frienderror">
                <p>Friendship</p>
                <hr style="border-color: rgba(0,0,0,0.2); margin: 2px;" />
                {{frienderror}}
            </div>
            <div ng-show="friendloading" class="center-text">
                <p>Friendship</p>
                <hr style="border-color: rgba(0,0,0,0.2); margin: 2px;" />
                <img src="img/Loading.gif" style="width: 35px; height: 35px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
            </div>
        </div>
        
        <!--Statistics-->
        <div class="stats">
            <p>Statistics</p>
            <table>
                <tr>
                    <th>Friends:&nbsp;</th>
                    <td>
                        <span ng-show="friendcount == -2">Error</span>
                        <span ng-show="friendcount == -1"><img src="img/Loading.gif" style="width: 30px; height: 30px; background-color: rgba(0,0,0,0.2); border-radius: 15px;" /></span>
                        <span ng-hide="friendcount < 0">{{friendcount}}</span>
                    </td>
                </tr>
                <tr>
                    <th>Chats Created:&nbsp;</th>
                    <td>
                        <span ng-show="chatcount == -2">Error</span>
                        <span ng-show="chatcount == -1"><img src="img/Loading.gif" style="width: 30px; height: 30px; background-color: rgba(0,0,0,0.2); border-radius: 15px;" /></span>
                        <span ng-hide="chatcount < 0">{{chatcount}}</span>
                    </td>
                </tr>
                <tr>
                    <th>Messsages Sent:&nbsp;</th>
                    <td>
                        <span ng-show="messagecount == -2">Error</span>
                        <span ng-show="messagecount == -1"><img src="img/Loading.gif" style="width: 30px; height: 30px; background-color: rgba(0,0,0,0.2); border-radius: 15px;" /></span>
                        <span ng-hide="messagecount < 0">{{messagecount}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div id="deleteFriendModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 22px;" class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p style="font-size: 18px;">If you want to refriend this user later, you will need to send them another request.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="Unfriend()" data-dismiss="modal">Remove</button>
            </div>
        </div>
    </div>
</div>