<!-- public/views/search.html -->
<link rel="stylesheet" href="../css/search.css"/>

<h3 class="text-center" ng-show="noparam">
    No text entered. 
    <br />
    Please type in the name of the person you're looking for.
</h3>

<div class="container text-center" ng-hide="noparam">
    <h3 style="word-wrap: break-word">
        <strong>Search results for:</strong>&nbsp;
        {{fullparam}}
    </h3>
    <hr />
    <div ng-show="loading" style="width: 200px; margin: 0 auto;">
        <p class="lead">Fetching people...</p>
        <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px; margin: 0 auto;" />
    </div>
    <p class="lead">
        {{error}}
    </p>
    <span ng-repeat="r in results">
        <div class="SelfResult" ng-show="r.username == user.username">
            <span class="glyphicon glyphicon-arrow-down"></span>
            <b>This one's your account</b>
            <span class="glyphicon glyphicon-arrow-down"></span>
        </div>
        <div ng-click="ViewProfile(r.username)" title="View Profile" class="ResultDiv" style="border: solid 4px {{r.color}};">
            <span ng-show="r.fullname">
                {{r.fullname}} - ({{r.username}})
            </span>
            <span ng-hide="r.fullname">
                {{r.username}}
            </span>
        </div>
    </span>
</div>