<!-- public/views/settings.html -->
<link rel="stylesheet" href="../css/settings.css"/>

<!-- Edit mode -->
<div class="base edit" ng-show="editing">
    <h1 style="text-align: center;">
        <span ng-show="loading">Loading</span><span ng-hide="loading">Edit</span> Profile Data
        <span ng-show="loading">
            <br />
            <img src="img/Loading.gif" style="width: 50px; height: 50px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
        </span>
    </h1>

    <span ng-hide="loading">
        <form class="scrap-paper" ng-submit="SubmitData()">
            <p class="tag">What's your full name?</p>
            <input id="fullname" type="text" placeholder="Type Name Here" maxlength="40" ng-model="fullname" value="{{fullname}}" />
            
            <p class="tag2">
                Favorite color?
                <span class="glyphicon glyphicon-question-sign" style="float: right; display: none" title="Please input a valid CSS rgb color ex:(#FF0000 or Red). Invalid colors default to Light Grey"></span>
            </p>
            <input id="backcolor" type="text" placeholder="Type Color Here" maxlength="40" ng-model="color" value="{{color}}" />
        
            <a class="btn btn-default btn-xs" href="/profile">Back</a>
            <button class="btn btn-primary btn-xs" ng-click="SubmitData()">Update</button>
        </form>
    </span>
</div>

<!-- Account Settings Mode -->
<div class="base settings" ng-hide="editing">
    <h1 style="text-align: center;" ng-hide="deleting">
        <span ng-hide="changing || error || updated">
            <span ng-show="loading">Loading</span><span ng-hide="loading">Manage</span> Your Account
            <span ng-show="loading">
                <br />
                <img src="img/Loading.gif" style="width: 50px; height: 50px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
            </span>
            <br />
            <br />
            <form id="changePassForm" style="display: none">
                <span ng-show="loading">
                    <h3>Changing Password...</h3>
                    <h4>{{progress}}</h4>
                    <img src="img/Loading.gif" style="width: 50px; height: 50px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
                </span>
                <span ng-hide="loading">
                    <h3>Change Password</h3>
                    <input type="password" placeholder="Old Password" ng-model="oldpass" class="form-control" />
                    <input type="password" placeholder="New Password" ng-model="pass" class="form-control" />
                    <input type="password" placeholder="Confirm New Password" ng-model="passconfirm" class="form-control" />
                    <p ng-show="passworderror" class="passworderror">{{passworderror}}</p>
                    <button class="btn btn-info btn-sm" ng-click="ChangePassword()">Submit</button>
                </span>
            </form>
            <span ng-hide="loading">
                <div id="audioNotifyBox" class="settings-checkbox-group" ng-click="toggleAudio()">
                    <div class="settings-checkbox">
                        <div class="settings-checkbox-icon">   
                            <span ng-show="audioNotify" class="glyphicon glyphicon-ok" />
                            <span ng-hide="audioNotify" class="glyphicon glyphicon-ok" style="visibility: hidden" />
                        </div>
                    </div>
                    <span class="settings-checkbox-label">Audio Notifications</span>
                </div>
                <a class="btn btn-primary" href="/profile">Back to Profile</a>
                <button id="changePassButton" class="btn btn-info" onclick="ChangePass()">Change Password</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Delete Account</button>
            </span>
        </span>
        <div ng-show="changing">
            <h3>Updating Settings...</h3>
            <img src="img/Loading.gif" style="width: 55px; height: 55px; background-color: rgba(0,0,0,0.2); border-radius: 25px;" />
        </div>
        <div ng-show="updated">
            <p>Settings Updated</p>
            <br />
            <a class="btn btn-primary" href="/profile">Back to Profile</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Delete Account</button>
        </div>
        <div ng-show="error">
            <p>Error Updating Settings</p>
            <h4>Try refreshing the page to try again</h4>
            <a class="btn btn-primary" href="/profile">Back to Profile</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Delete Account</button>
        </div>
    </h1>
    <h3 ng-show="deleting">
        Deleting your account...
    </h3>
</div>

<!-- Delete Account Modal -->
<div id="delModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="font-size: 22px;" class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p style="font-size: 18px;">This action cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="Delete()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function ChangePass() {
    document.getElementById('changePassButton').style = "display: none";
    document.getElementById('changePassForm').style = "";
    document.getElementById('audioNotifyBox').style = "display: none";
}
</script>