
/* Header Div */
.btn-space {
    margin-top: 20px;
}

.header {
    background-color: #CDCDCD;
    border: solid 8px #9C9C9C;
    text-align: center;
    width: 420px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
}
.header h1 {
    padding: 0;
    margin: 10px;
    margin-top: 0;
}
.header h2 {
    padding: 0;
    margin: 10px;
    margin-top: 0;
}
.header hr {
    border-width: 2px;
    
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
}
.header ul {
    list-style: none;
    padding: 0;
}
.header li {
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid rgba(255,255,255,0.6);
    font-size: 120%;
}

.headerHider {
    float: right;
    border: solid 1px rgba(0,0,0,0.4);
}

.headerRequest {
    margin: 5px;
}
.headerRequest a {
    background-color: rgba(255,255,255,0.8);
    color: #007EFF;
    
    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    text-decoration: none !important;
    
    padding: 4px;
    margin-right: 4px;
}

.headerRequest a:hover {
    background-color: #5BA9F9;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
}

/* First chat div */
.firstchat {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 500px;
    border: solid 2px black;
    background-color: #E0E0E0;
    border-radius: 5px;
}
.firstchat h1 {
    font-size: 20px;
}
.firstchat h3 {
    font-size: 30px;
}
.firstchat p {
    font-size: 20px;
    padding-top: 5px;
}
.friendpicker {
    width: 400px;
    height: 100px;
    margin: 0 auto;
}
.friendpicker-info {
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
}
.friendpicker-info span {
    position: relative;
    top: 0px;
}
.friendholder {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100px;
    border: 1px solid darkgray;
    background-color: rgb(242,242,242);
    white-space: nowrap;
}
.friendinfo {
    width: 120px;
    height: 75px;
    text-align: center;
    padding:0;
    margin: 5px 5px 2px 5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: solid 1px rgb(242,242,242);
}
.friendinfo:hover {
    background-color: rgba(0,0,255,0.12);
    cursor: pointer;
    font-weight: bold;
}
.friendinfo-selected {
    background-color: rgba(0,0,255,0.2);
    border: solid 1px rgba(0,0,255,0.3);
    font-weight: bold;
}
.friendinfo-selected:hover {
    background-color: rgba(0,0,255,0.4);
}
.friendbubble {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    border-radius: 20px;
    background-color: gray;
    border: 1px solid rgba(0,0,0,0.6);
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: normal !important;
    text-shadow:
        -1px -1px 0 rgba(0,0,0,0.6),  
        1px -1px 0 rgba(0,0,0,0.6),
        -1px 1px 0 rgba(0,0,0,0.6),
        1px 1px 0 rgba(0,0,0,0.6);
}
.frienddata {
    width: 120px;
    padding: 0;
    margin: 0;
    display: block;
}
.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.selectCount {
    padding: 5px;
    font-weight: bold;
    margin: 0 auto;
    transition: background-color 1s;
    margin-bottom: 10px;
}
.chat {
    position: absolute;
    height: calc(100% - 60px);
    min-width: 450px;
    width: calc(100% - 220px);
    display: flex;
    flex-flow: column;
    min-width: 400px;
    left: 220px;
    margin: 0;
    padding: 0;
    background-color: #d6d6ff;
}
.chat-header {
    padding-left: 20px;
    border-bottom: solid 2px black;
    height: 50px;
    flex: 0 1 auto;
}
.chat-header-buttons {
    line-height: 30px; 
    font-size: 22px;
}
.chat-header h1 {
    font-size: 26px;
    margin: 10px;
}
.chat-header div {
    display: inline;
    
}
.chat-header-icon {
    width: 20px;
    height: 20px;
    margin: 0 6px 0 6px;
}
.chat-header-icon:hover {
    color: rgba(255,0,0,0.8);
    cursor: pointer;
}
.chat-subject {
    padding: 5px;
    position: relative;
    top: -11px;
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 50px;
}
.chat-controls {
    float: right;
    padding: 12px 10px 6px 10px;
    margin-left: 20px;
    background-color: #adadea;
    border-left: solid 1px black;
}
.chat-content {
    background-color: #eaeff3;
    position: relative;
    top: 0;
    flex: 1 1 auto;
    height: calc(100% - 140px);
    overflow: auto;
    padding: 10px 0 20px;
    background-image: url('../img/background.bmp');
    background-repeat: repeat;
}
.chat-input {
    flex: 0 1 auto;
    white-space: nowrap;
    display: inline-flex;
    background-color: white;
    border-top: 1px solid black;
}
.chat-input input {
    font-size: 22px;
    height: 75px;
    resize: none;
    border-radius: 0;
    border: 1px solid #bdbdbd;
    transition: border 0.1s;
}
.chat-input input:focus {
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.noSend {
    height: 75px;
    width: 100px;
    border-radius: 0;
    background-color: #e8e8e8;
    border: 1px solid #bdbdbd;
    font-size: 26px;
    font-family: inherit;
    color: #565151;
    line-height: 25px;
    transition: border 0.1s;   
    cursor: not-allowed;
}
.chat-input-send button {
    height: 75px;
    width: 100px;
    border-radius: 0;
    background-color: #e8e8e8;
    border: 1px solid #bdbdbd;
    font-size: 26px;
    font-family: inherit;
    color: #565151;
    line-height: 25px;
    transition: border 0.1s;
}
.chat-input-send button:focus {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #bdbdbd;
    font-weight: bold;
    background-color: #d3e3e4;
}
.chat-input-send span {
    padding: 0;
    margin: 0;
}
.chat-subject-input {
    width: 400px;
    margin: 0 auto;
    border: solid 1px gray;
    margin-bottom: 10px;
}
.chat-subject-input:focus {
    border: solid 2px darkgray;
}
.chat-create-button {
    height: 40px;
    margin-bottom: 20px;
}
.selectCount-flash {
    background-color: rgba(255,0,0,0.8);
}
.error-box {
    border: solid 2px red;
    border-radius: 5px;
    width: 500px;
    background-color: rgba(255,0,0,0.1);
}
.chat-list {
    position: fixed;
    left: 0;
    top: 60px;
    padding: 20px 5px 20px 5px;
    background-color: lightgray;
    width: 220px;
    height: calc(100% - 60px);
    border-right: 2px solid black;
}
.chat-list-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.chat-list-chat {
    direction:ltr; 
    background-color: white;
    border: solid 2px gray;
    width: 180px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}
.chat-list-chats {
    direction:rtl; 
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 30px);
    white-space: nowrap;
    padding-bottom: 10px;
    border-top: solid 2px gray;
}
.chat-list-chat:hover {
    background-color: lightblue;
    cursor: pointer;
    font-weight: bold;
}
.chat-list-chat-selected {
    background-color: rgba(0,0,255,0.2);
    border: solid 2px rgba(0,0,255,0.3);
    font-weight: bold;
}
.chat-list-chat-selected:hover {
    background-color: rgba(0,0,255,0.4);
}
.chat-list-chat h1 {
    font-size: 14px;
    text-overflow: ellipsis;
}
.chat-list-chat-users {
    width: 100px;
    margin: 0 auto;
}
.chat-list-chat-user-loading {
    width: 30px; 
    height: 30px; 
    border-radius:15px; 
    display: inline-block;
    padding-top: 2px;
}
.chat-list-subject {
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
.chat-list-chat-user {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.6);
    background-color: gray;
    color: white;
    font-size: 16px;
    font-weight: normal !important;
    text-shadow:
        -1px -1px 0 rgba(0,0,0,0.6),  
        1px -1px 0 rgba(0,0,0,0.6),
        -1px 1px 0 rgba(0,0,0,0.6),
        1px 1px 0 rgba(0,0,0,0.6);
    display: inline-block;
    padding-top: 2px;
}
.chat-list-update {
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
.main-panel {
    position: absolute;
    height: calc(100% - 30px);
    width: calc(100% - 220px);
    min-width: 550px;
    left: 220px;
    height: 60px;
    margin: 0;
    padding: 0;
}
.hide-div {
    display: none;
}
.message {
    position: relative;
    max-width: 75%;
    min-width: 150px;
    padding: 5px 10px 0 10px;
    font-size: 20px;
    clear: both;
    margin: 10px 5px 10px 5px;
    display: table;
    
}
.message hr {
    padding: 0;
    margin: 5px -5px 0 -5px;
    border-color: #d0d0d0;
}
.message-status {
    display: table;
    text-align: center;
    font-size: 18px;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.message-status-date {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 12px;
}
.message-sent {
    background-color: #e8e3ff;
    border: 2px solid rgba(0,0,255,0.6);
    border-radius: 10px 10px 0 10px;
    float: right;
    margin-top: 0;
}
.message-received {
    background-color: #efefef;
    border: 2px solid rgba(50,50,50,0.6);
    border-radius: 10px 10px 10px 0;
}
.message-details {
    font-size: 16px;
    width: 100%;
}
.message-details-sent {
    text-align: right;
}
.message-details-received {
    text-align: left;
}
.disabled {
    color: gray !important;
    cursor: default !important;
}
.chatter-name {
    color: blue;
    cursor: pointer;
}
.chatter-name:hover {
    color: magenta;
}

a {
    color: blue;
}
a:hover {
    color: magenta;
}
a:visited {
    color: darkblue;
}