.friend {
    padding: 10px; 
    width: 250px; 
    margin: 0 auto; 
    margin-bottom: 15px; 
    border-radius: 5px;
    border: solid 3px rgba(0,0,0,0.9);
    font-weight: bold;
    background-color: lightgray;
}

.friend a {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px rgba(0,0,0,0.9);
    cursor: pointer;
    text-decoration: none !important;
}

.friend a:hover {
    background-color: #98CCF2;
}