.globalStats {
    background-color: rgba(194,188,255,0.2); 
    border: 1px solid rgba(0,0,0,0.2); 
    border-radius: 10px; 
    width: 60%; 
    min-width: 300px; 
    margin: 0 auto; 
    padding: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
  margin-top: 0;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right !important;
  top: -100px;
}
.navbar {
  height: 60px;
  width: 100%;
  min-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
  border: 0;
  font-size: 120%;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 0;
  position: fixed;
  z-index: 200;
  top: 0;
}
.nav li {
  padding-top: 5px;
  margin: 5px;
}
.nav li a {
  padding: 5px;
  margin: 5px;
}