
/* Profile Header - Name */
.header {
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    
    font-family: Arial;
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
    
    border: 5px inset black;
    background-color: #E0E0E0;
}

.header h1 {
    background-color: #E0E0E0;
    border: solid 2px rgba(0,0,0,0.7);
    
    display: inline-block;
    padding: 15px;
    
    max-width: 90%; 
    word-wrap: break-word;
}

.blockContainer {
    width: 500px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

.settings {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 95px;
    padding: 5px;
    
    font-size: 18px;
    text-align: center;
    
    background-color: #E0E0E0;
    border: 2px solid rgba(0,0,0,0.6);
}
.settings p {
    font-size: 24px;
    font-weight: bolder;
}
.settings ul {
    list-style: none !important;
    text-align: left;
    color: black;
    
}
.settings li {
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
}
.settings a {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    
    color: rgba(0,0,0,0.7);
    text-decoration: none !important;
}
.settings a:hover {
    background-color: rgba(0,0,0,0.1);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.friendship {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 95px;
    padding: 5px;

    font-size: 18px;
    text-align: center;
    
    background-color: #E0E0E0;
    border: 2px solid rgba(0,0,0,0.6);
}
.friendship p {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0px;
}
.friendship table {
    display: inline-block;
}
.friendship th {
    text-align: right;
}
.friends-small {
    font-size: 18px;
    margin-bottom: 10px;
}

.stats {
    width: 200px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 5px;

    font-size: 18px;
    text-align: center;
    
    background-color: #E0E0E0;
    border: 2px solid rgba(0,0,0,0.6);
}
.stats p {
    font-size: 24px;
    font-weight: bolder;
}
.stats table {
    display: inline-block;
}
.stats th {
    text-align: right;
}
.stats td {
    text-align: left;
}

.off-white {
    background-color: #fcfff4;
}