
.ResultDiv {
    padding: 10px; 
    width: 250px; 
    margin: 0 auto; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    font-weight: bold;
}

.ResultDiv:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

.SelfResult {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.SelfResult span {
    top: 10px;
}