/* Both style variants have the same base */
.base {
    text-align: left;
    padding: 5px;
}

h1, h3, img {
    text-align: center;
}

#changePassForm {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    
    border: 2px solid rgba(0,0,0,0.4);
    background-color: rgba(0,0,0,0.06);
    border-radius: 4px;
}

#changePassForm input {
    margin-bottom: 10px;
}

#changePassForm button {
    display: inline-block;
}

.passworderror {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.settings-checkbox-group {
    width: 250px;
    margin: 10px auto 10px auto;
    font-size: 20px;
    cursor: pointer;
}

.settings-checkbox {
    border-radius: 2px;
    border: solid 1px lightblue;
    background-color: rgba(0,0,100,0.05);
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.settings-checkbox-label {
    position: relative;
    top: -2px;
}

.scrap-paper {
    margin: 0 auto;
    margin-bottom: 0;
    padding: 50px;
    padding-bottom: 0;
    width: 300px;
    height: 400px;
    background-image: url("../img/Paper.png");
    background-repeat: no-repeat;
}

.base .tag {
    font-size: 20px;
}

.base .tag2 {
    font-size: 20px;
    margin-top: 26px;
}

.base .color {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.scrap-paper button {
    margin-top: 25px;
}

.scrap-paper a {
    margin-top: 25px;
}

.scrap-paper input {
    position: relative;
    top: -8px;
    padding-left: 4px;
    border: none;
    background-color: transparent;
    font-size: 18px;
}

.scrap-paper input:focus {
    outline: none;
}

.edit {
    
}

.settings {
    
}